html{
  height:100%;
  background-image:
  url('https://images.pexels.com/photos/18174/reflection-pad-gaming-gamepad.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size:cover;
}

#banner{
  padding-top:22%;
  font-family:'Kavivanar',cursive;
  font-size:35px;
  display: flex;
  justify-content:center;
  color:#40e0d0;
}

#heading{
  height:100%;
  font-family:'Kavivanar', cursive;
  display: flex;
  justify-content: space-around;
  color:#ffdb00; 
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: gold;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
}
 
.navbar a {
  float: left;
  display: block;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color:;
}

.navbar a:hover {
  color:white;
  background: black;
}



#about-content{
  display: flex;
  justify-content: space-around;
  margin-top: 22%;
}

img{
  border-radius: 50%;
  border: solid 5px #FF5733;
}

.my-description{
  background: gold;
  margin: 3%;
  padding: 4%;
  font-family:'Kavivanar',cursive;
}

.project-container {
 margin-top:20%;
 display:flex;
 width:100%;
 height:100%;
 Justify-content:space-between;
}

span{
  background:#FFD700;
  width:30%;
  height:60%;
  margin:2%;
  padding:2%;
  font-family:'Kavivanar',cursive;
  color:blue;
  align-items:center;
}
.feature-content{
  margin-top: 15%;
  font-family:'Kavivanar',cursive;
  color: gold;

  
}
 
